<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增小区管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-management-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">父小区名称：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="parentplotId" type="hidden" th:value="${communityManagement?.plotId}"/>
                        <input class="form-control" type="text" onclick="selectManagementTree()" id="treeName" readonly="true" th:value="${communityManagement?.plotName}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区名称：</label>
                <div class="col-sm-8">
                    <input name="plotName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="orderNum" class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="请输入数字" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/management"
        $("#form-management-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-management-add').serialize());
            }
        }

        /*小区管理-新增-选择父部门树*/
        function selectManagementTree() {
            var options = {
                title: '小区管理选择',
                width: "380",
                url: prefix + "/selectManagementTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
    </script>
</body>
</html>