<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增货柜管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-cabinet-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">投放点小区：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="treeId" type="hidden" th:value="${cabinet?.cabinetId}"/>
                        <input class="form-control" type="text" onclick="selectCabinetTree()" id="treeName" readonly="true" th:value="${cabinet?.cabinetBianha}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">投放点：</label>
                <div class="col-sm-8">
                    <input type="text" id="putinId" name="putinId" hidden />
                    <div class="input-group">
                        <select id="form-control" class="form-control" required>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">柜子编号：</label>
                <div class="col-sm-8">
                    <input name="cabinetBianha" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="orderNum" class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="请输入数字" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/cabinet"
        $("#form-cabinet-add").validate({
            focusCleanup: true
        });

        function putin() {
            $("#form-control").prepend('<option>选择投放点</option>')
            if ($("#treeId").val() == null) {
                alert("请先选择投放的小区");
            } else {
                $.ajax({
                    url: ctx + "system/putindian/toufang/" + $("#treeId").val(),
                    type: 'get',
                    async: false,
                    success: function (json) {
                        var a = JSON.parse(json);
                        for (var i in a){
                            $("#form-control").prepend('<option>'+ a[i]+'</option>')
                        }
                    }
                });
            }
        }



        function submitHandler() {
            $("#putinId").val($("#form-control").val())
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-cabinet-add').serialize());
            }
        }
        /*货柜管理-新增-选择父部门树*/
        function selectCabinetTree() {
            var options = {
                title: '投放点小区',
                width: "380",
                url: ctx + "system/management/selectManagementTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
            $("#form-control").empty();
            putin();
        }
    </script>
</body>
</html>