<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('货柜管理列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 投放点小区
            </div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" title="管理投放点"><i
                        class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i
                        class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i
                        class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新小区"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" id="cabinetId" name="cabinetId">
                    <input type="hidden" id="plotId" name="plotId">
                    <input type="hidden" id="fatherCabinetid" name="fatherCabinetid">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>柜子编号：</label>
                                <input type="text" name="cabinetBianha"/>
                            </li>
                            <li>
                                <label>投放点id：</label>
                                <input type="text" name="putinId" style="width: 150px;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="请输入数字"/>
                            </li>
                            <li>
                                <label>拥有者：</label>
                                <input type="text" name="user" style="width: 150px;"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:cabinet:add">
                    <i class="fa fa-plus"></i> 新增柜子
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:cabinet:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('system:cabinet:add')}]];
    var editFlag = [[${@permission.hasPermi('system:cabinet:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:cabinet:remove')}]];
    var prefix = ctx + "system/cabinet";
    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win:$('.ui-layout-center'),
                doc:$('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }
        queryUserList();
        queryDeptTree();
    });

    function queryUserList() {
        var options = {
            code: "cabinetId",
            parentCode: "fatherCabinetid",
            expandColumn: "1",
            uniqueId: "cabinetId",
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            exportUrl: prefix + "/export",
            modalName: "货柜管理",
            columns: [{
                field: 'selectItem',
                radio: true
            },
                {
                    field: 'cabinetBianha',
                    title: '柜子编号',
                    align: 'left'
                },
                {
                    field: 'putinId',
                    title: '投放点id',
                    align: 'left'
                },
                {
                    field: 'fatherCabinetid',
                    title: '父柜子id',
                    align: 'left'
                },
                {
                    field: 'user',
                    title: '拥有者',
                    align: 'left'
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.fatherCabinetid ==0){
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.cabinetId + '\')"><i class="fa fa-plus"></i>添加柜门</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cabinetId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }else{
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.cabinetId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-primary btn-xs " href="javascript:void(0)" onclick="kaimen(\'' + row.cabinetId+ '\')"> <span class="glyphicon glyphicon-ok"></span>开门</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cabinetId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.treeTable.init(options);
    }

    function kaimen(cabinetId){
        $.ajax({
            url: prefix + "/tuisong/" + cabinetId,
            type: 'get',
            cache: false,
            processData: false,
            dataType: "json",
            contentType: false,
            success: function (result) {
                $.operate.successCallback(result);
            }
        });
    }

    function queryDeptTree()
    {
        var url = ctx + "system/management/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick : zOnClick
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            $("#plotId").val(treeNode.id);
            $("#fatherCabinetid").val(treeNode.pId);
            $.treeTable.search();
        }
    }

    $('#btnExpand').click(function() {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function() {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function() {
        queryDeptTree();
    });

    function dept() {
        var url = ctx + "system/putindian";
        $.modal.openTab("投放点管理", url);
    }
</script>
</body>
</html>