<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改地区')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-table-edit" th:object="${chinaAreaTable}">
            <input name="areaId" th:field="*{areaId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">父地区名称：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="parentareaId" type="hidden" th:field="*{parentareaId}" />
                        <input class="form-control" type="text" onclick="selectTableTree()" id="treeName" readonly="true" th:field="*{parentName}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地区名称：</label>
                <div class="col-sm-8">
                    <input name="areaName" th:field="*{areaName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="orderNum" th:field="*{orderNum}" class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="请输入数字" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "area/table";
        $("#form-table-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-table-edit').serialize());
            }
        }

        /*地区-新增-选择父部门树*/
        function selectTableTree() {
            var options = {
                title: '地区选择',
                width: "380",
                url: prefix + "/selectTableTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
    </script>
</body>
</html>